---
import AboutLayout from "../layout/AboutLayout.astro";
import * as pageContent from "../content/main/about.mdx";
const { title } = pageContent.frontmatter;
const Content = pageContent.Content
---

<AboutLayout>
    <div class="prose max-w-full prose-p:leading-relaxed prose-p:text-evergreen-700 prose-img:object-cover prose-img:rounded-full">
    <h3 class="text-4xl text-cool-steel-400 text-center border-b-2 border-sapphire-500 pb-2">{title}</h3>
    <Content />
    </div>
</AboutLayout>

