---
import FallingLayout from "../layout/FallingLayout.astro";
import * as pageContent from "../content/main/falling.mdx";
const { title } = pageContent.frontmatter
const Content = pageContent.Content

const proj = [
    { name: "Creature Wiki", url: "/wiki" },
    { name: "Text Adventure (Coming ..someday)", url: "/howling" },
    { name: "My Git?", url: "#" }
]
---

<FallingLayout>
    <main class="prose prose-h3:border-b-2 prose-h3:border-black prose-h3:text-sapphire-500 prose-h3:text-4xl prose-h3:text-center prose-invert max-w-full">
        <h3>{title}</h3>
        <Content />
        <ul class="list-none">
            {proj.map((p) => (
                <li>
                    <a href={p.url} class="text-emerald-500 underline hover:text-amber-200 transition-colors">{p.name}</a>
                </li>
            ))}
        </ul>
    </main>
</FallingLayout>

