---
import FallingLayout from "../layout/FallingLayout.astro";
---

<FallingLayout>
    <h1 class="text-center text-sapphire-500 drop-shadow-md text-4xl pb-6">Welcome to the Expanse</h1>
    <p class="leading-relaxed py-2">Ok, take a breath, I realize you weren't expecting to find yourself in an endless expanse. Calmly now, just let your feet land, it might not seem like it but you can stand here.</p>
    <p class="leading-relaxed py-2">Now that you're steady, welcome to the place where things come to just, be. This is the home of my projects, my wiki, photos and random snippits of stuff, eventually I want to have a text adventure you can all play, but for now, this is just the start. </p>
</FallingLayout>