---
import FallingLayout from "../layout/FallingLayout.astro";

const proj = [
    { name: "Creature Wiki", url: "/wiki" },
    { name: "Text Adventure (Coming ..someday)", url: "/howling" },
    { name: "My Git?", url: "#" }
]
---

<FallingLayout>
    <main class="text-sapphire-300">
        <h1 class="text-center text-4xl text-indigo-300 text-shadow-2xs border-b-2 border-cool-steel-300">Falling...</h1>
        <p class="leading-relaxed p-3">So, you've found your way here, no it's ok, you won't fall forever, take a breath, close your eyes, breathe out. There ya go, see, you can stand now. This place is, well let's call it a evolving space. It's empty, but it's also the most full of anywhere else that exists within this little space away from it all. This is where the creative side of what gets made comes to live. For now it's just this, a space, not much to look at for sure well, unless you like endless expanses of black and stars. As time goes on the stars will get brighter, and each star represents another little piece of something that has been made.</p>

        <p class="leading-relaxed p-3">For now though, please, stay, enjoy yourself, as the projects get started and completed, this place will alter itself to match so, come back once in a while if you want, see what's new.</p>
        <ul class="list-none">
            {proj.map((p) => (
                <li>
                    <a href={p.url} class="text-emerald-500 underline hover:text-amber-200 transition-colors">{p.name}</a>
                </li>
            ))}
        </ul>
    </main>
</FallingLayout>

