---
import GladeLayout from "../layout/gladeLayout.astro"
import Quotes from "../components/quotes.astro"
---

<GladeLayout>
    <h1 class="text-4xl text-amber-600 text-center font-bold pb-4">Welcome to the Glade</h1>
    <p>The wind welcomes you to this, the Glade, my little sanctuary. This place where the wind is warm, the night sky flits through the leaves above and the sound of water can be heard is where I come to let my dreams find form.</p> 
    <p>Here you will find the things that mean something to me, sometimes they will be simple and small, other times large and important. For now, I bid you welcome, relax, enjoy your stay.</p>
    <div class="justify-end align-bottom flex pt-10"><Quotes /></div>
</GladeLayout>

