---
import GladeLayout from "../layout/gladeLayout.astro"
import Quotes from "../components/quotes.astro"

import * as pageContent from '../content/main/glade.mdx' 
const { title } = pageContent.frontmatter;
const Content = pageContent.Content;
---

<GladeLayout>
    
    <main class="prose prose-h3:border-b-2 prose-h3:border-black prose-h3:text-midnight-violet-700 prose-h3:text-4xl prose-h3:text-center prose-p:text-evergreen-300 prose-p:leading-relaxed prose-invert max-w-full">
        <h3>{title}</h3>
        <Content />
    </main>
    
    <div class="justify-end align-bottom flex pt-10"><Quotes /></div>
</GladeLayout>