---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
	<h1 class="text-4xl font-bold text-amber-700 text-center border-b-2 border-violet-500">Welcome Traveler</h1>
	<p class="text-lg leading-relaxed p-3 text-white">I see you've found your way to my home in the void, this vast web of stars and information. To that end, I welcome you. No matter where you come from, you are more than welcome to look around, enjoy yourself, take your time to understand who I am and what this space means to me.</p>
	<p class="text-lg leading-relaxed p-3 text-white">As you explore, I encourage you to feel at ease, make yourself at home, this realm is still coming together so some things may break, other things may flat out stop working, and some things might even not exist yet. Yet know this, as this place grows, the different areas you explore may change at a whim, so keep a look out, something you think you know and understand, may not be that way as time goes on.</p>
</BaseLayout>