---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
	<h1 class="text-4xl font-bold text-amber-700 text-center">Welcome Traveler</h1>
	<p class="text-lg leading-relaxed p-3 text-white">I see you've found your way to my home in the void, this vast web of stars and information. To that end, I welcome you. No matter where you come from, you are more than welcome to look around, enjoy yourself, take your time to understand who I am and what this space means to me.</p>
	
</BaseLayout>