---

---


<nav class="w-full flex items-center justify-center gap-21 py-4 text-lg">
    <a href="/">Home</a>
    <a href="glade">The Glade</a>
    <a href="falling">Falling...</a>
    <a href="about">About Rune</a>
</nav>