---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css"
---

<html lang="en">
    <body class="min-h-screen bg-linear-to-b from-cool-steel-700 to-cool-steel-900 text-white">
        <div class=" flex flex-col w-full max-w-[80%] max-h-screen mx-auto">
            <Navbar />
            <main class="flex-1 p-6">
                <slot />
            </main>
        </div>
    </body>
</html>